<!DOCTYPE html>
<html lang="en">
  <%- include ('../includes/head.ejs') %>

  <body>
    <%- include ('../includes/header.ejs') %>
    <main>
      <section class="full-cathegory">
        <h2 class="drink"><%= product.drinkName%></h2>

        <figure id="drink-picture">
          <img
            src="/products/<%= product.image%>"
            width="100%"
            class="imagen-trago"
          />
        </figure>

        <section class="right-section">
          <h3 class="price">$<%= product.price%></h3>
          <form action="/" method="post" id="checkout">
            <button class="button-buy" type="submit">Comprar</button>
          </form>

          <p class="drink-description"><%= product.creator%></p>
          <p class="drink-description"><%= product.description%></p>
          <p class="drink-description"><%= product.flavorProfile%></p>
          <p class="drink-description"><%= product.history%></p>
        </section>
      </section>
    </main>
    <%- include ('../includes/footer.ejs') %>
  </body>
</html>
