<!DOCTYPE html>
<html lang="en">
    <%- include ('../includes/head.ejs') %>
    <body>
        <%- include ('../includes/header.ejs') %>

        <main>
            <div>
                <form
                    action="/products/save"
                    method="post"
                    id="formularioNewProduct"
                    enctype="multipart/form-data"
                >
                    <fieldset class="classNewDrink">
                        <label for="name">Nombre del trago</label>
                        <input
                            type="text"
                            name="drinkName"
                            id="drinkName"
                            placeholder="nombre del trago"
                            required
                            autocomplete="off"
                        />
                        <p class="msg-error"></p>
                    </fieldset>

                    <fieldset class="classNewDrink">
                        <label for="">Precio</label>
                        <input
                            type="number"
                            name="price"
                            id="price"
                            placeholder="price"
                            required
                            autocomplete="off"
                        />
                        <p class="msg-error"></p>
                    </fieldset>

                    <fieldset class="classNewDrink">
                        <label for="">Ingredientes</label>
                        <input
                            type="textarea"
                            name="description"
                            id="description"
                            placeholder="lista de ingedientes, no es necesario cantidades (200)"
                            maxlength="200"
                            required
                            autocomplete="off"
                        />
                        <p class="msg-error"></p>
                    </fieldset>

                    <fieldset class="classNewDrink">
                        <label for="">Imagen</label>
                        <input
                            type="file"
                            name="image"
                            id="image"
                            accept="image/*"
                            placeholder="Foto del trago fachero"
                        />
                        <p class="msg-error"></p>
                    </fieldset>

                    <fieldset class="classNewDrink">
                        <label for="">Categoria</label>
                        <select name="category" id="category" required>
                            <option value="">--Elegir una categoria--</option>
                            <% category.forEach(element => { %>
                                <option value="<%= element.id %>"> <%= element.category %> </option>
                            <% }) %>
                        </select>
                        <p class="msg-error"></p>
                    </fieldset>

                    <fieldset class="classNewDrink">
                        <label for="">Perfil de sabor</label>
                        <input
                            type="textarea"
                            name="flavorProfile"
                            id="flavorProfile"
                            placeholder="describa brevemente el sabor del trago (200)"
                            maxlength="200"
                            required
                            autocomplete="off"
                        />
                        <p class="msg-error"></p>
                    </fieldset>

                    <fieldset class="classNewDrink">
                        <label for="">Breve historia (opcional)</label>
                        <input
                            type="textarea"
                            name="history"
                            id="history"
                            placeholder="nos podes contar de donde viene el trago, o quien lo hizo! (200)"
                            maxlength="200"
                            autocomplete="off"
                        />
                        <p class="msg-error"></p>
                    </fieldset>

                    <fieldset class="fieldsetHabemusPotio">
                        <button type="reset" class="buttonHabemusPotio">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                        <button type="submit" class="buttonHabemusPotio">
                            HABEMUS POTIO!
                        </button>
                    </fieldset>
                </form>
            </div>
        </main>

        <%- include ('../includes/footer.ejs') %>
    </body>
</html>
