<!DOCTYPE html>
<html lang="en">
  <%- include ('../includes/head.ejs') %>
  <body>
    <%- include ('../includes/header.ejs') %>

    <h2>Resultado de busqueda</h2>

    <% searchProduct.forEach(product => { %>
    <li>
      <picture>
        <a href="">
          <img src="<%= product.image%>" alt="" />
        </a>
      </picture>
      <section>
        <h5><%= product.drinkName%></h5>
        <p>Descripcion: <%= product.description%></p>
        <p>Categoria: <%= product.category%></p>
        <p>Perfil de Sabor: <%= product.flavorProfile%></p>
        <p>Historia: <%= product.history%></p>
      </section>
    </li>
    <% }) %> 
    
  <%- include ('../includes/footer.ejs') %>
  </body>
</html>
