<!DOCTYPE html>
<html lang="en">
  <%- include ('../includes/head.ejs') %>
  <body>
    <%- include ('../includes/header.ejs') %>
    <main>
      <div class="registerSection">
        <section class="userSection">
          <section class="userData">
            <figure class="avatarContenedor">
              <img
                class="avaratImg"
                src="/assets/Images/malik-skydsgaard-IgkwHPb-Vk8-unsplash.jpg"
                alt="user_photo.jpg"
              />
            </figure>
            <h4 class="nombreCompleto">Nombre completo</h4>
            <p class="nombreUsuario">UserName#0000</p>
          </section>
          <section class="userData">
            <!-- <form action="/user/register" method="post" class="formularioDescripcion" enctype="multipart/form-data">
                        <label for="userDescription">Descripcion: </label>
                        <input type="textarea" name="userDescription" id="userDescription">
                </form> -->
          </section>
          <section class="userData">
            <nav>
              <a href="/"
                ><i class="fa-brands fa-facebook" id="iconosRedes"></i
              ></a>
              <a href="/"
                ><i class="fa-brands fa-instagram" id="iconosRedes"></i
              ></a>
              <a href="/"
                ><i class="fa-brands fa-twitter" id="iconosRedes"></i
              ></a>
            </nav>
          </section>
        </section>

        <section class="userRegistrationForm">
          <form
            action="/user/register"
            method="post"
            class="formularioRegister"
            id="formularioRegister"
            enctype="multipart/form-data"
          >
            <fieldset class="fieldsetRegister">
              <label class="labelRegister" for="name"
                >Nombre:
              </label>
              <input
                class="inputRegister"
                type="text"
                name="name"
                id="name"
                placeholder="Introduzca aqui su nombre"
                value="<%= locals.oldData ? oldData.name : null %>"
                required
              />
              <p class="msg-error"></p>
            </fieldset>

            <fieldset class="fieldsetRegister">
              <label class="labelRegister" for="lastname"
                >Apellido:
              </label>
              <input
                class="inputRegister"
                type="text"
                name="lastname"
                id="lastname"
                placeholder="Introduzca aqui su apellido"
                value="<%= locals.oldData ? oldData.lastname : null %>"
                required
              />
              <p class="msg-error"></p>
            </fieldset>

            <fieldset class="fieldsetRegister">
              <label class="labelRegister" for="email">Email: </label>
              <input
                class="inputRegister"
                type="email"
                name="email"
                id="email"
                placeholder="Introduzca aqui su email"
                value="<%= locals.oldData ? oldData.email : null %>"
                required
              />
              <p class="msg-error"></p>
            </fieldset>

            <fieldset class="fieldsetRegister">
              <label class="labelRegister" for="birthday"
                >Fecha de nacimiento:
              </label>
              <input
                class="inputRegister"
                type="date"
                name="birthday"
                id="birthday"
                min="2000-01-02"
                value="<%= locals.oldData ? oldData.birthday : null %>"
                required
              />
            </fieldset>

            <fieldset class="fieldsetRegister">
              <label class="labelRegister" for="password"
                >Contraseña:
              </label>
              <input
                class="inputRegister"
                type="password"
                name="password"
                id="password"
                value="<%= locals.oldData ? oldData.password : null %>"
                required
              />
              <p class="msg-error"></p>
            </fieldset>

            <fieldset class="fieldsetRegister">
              <label class="labelRegister" for="password2"
                >Confirmar contraseña:
              </label>
              <input
                class="inputRegister"
                type="password"
                name="password2"
                id="password2"
                value="<%= locals.oldData ? oldData.password2 : null %>"
                required
              />
              <p class="msg-error"></p>
            </fieldset>

            <fieldset class="fieldsetRegister">
              <label class="labelRegister" for="image"
                ><i class="fa-solid fa-image"></i> Foto de perfil:
              </label>
              <input
                class="inputRegister"
                type="file"
                name="image"
                id="image"
                accept="image/*"
                value="<%= locals.oldData ? oldData.image : null %>"
              />
              <p class="msg-error"></p>
            </fieldset>

            <fieldset class="fieldsetTermsConditions">
              <input type="checkbox" name="terms" id="terms" required />
              <label class="labelTemsConditions" for="campoTerm"
                >Acepto los terminos y condiciones de uso y privacidad</label
              >
              <p class="msg-error"></p>
            </fieldset>

            <fieldset class="fieldsetTermsConditions">
              <button class="registerButton" type="submit">REGISTRARSE</button>
            </fieldset>
          </form>
        </section>
      </div>
    </main>
    <%- include ('../includes/footer.ejs') %>
  </body>
</html>
